fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-multipart
langgraph
langchain-core
langchain-openai
langchain-google-genai
pypdf
tavily-python
python-dotenv
requests
cryptography
email-validator